@mixin input-field {
    padding: 15px;
    margin: 5px;
    -webkit-box-shadow: 0px 6px 8px -2px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 6px 8px -2px rgba(0, 0, 0, 0.52);
    border: 2px solid $darkgray;
    border-radius: 10px;
    &:focus {
        border: 2px solid $gray;
    }
}

@mixin main-button {
    width: 60%;
    padding: 10px;
    border: none;
    background-color: $darkgray;
    color: $silver;
    border-radius: 10px;
    -webkit-box-shadow: 0px 6px 8px -2px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 6px 8px -2px rgba(0, 0, 0, 0.52);
    font-size: 1.1rem;
    transition: transform 0.2s ease-in-out;
    &:hover {
        transform: scale(1.05);
        background-color: $gray;
    }
    &:active {
        transform: scale(1);
    }
}
