@mixin input-field {
  width: 70%;
  padding: 17px;
  margin: 11px;
  -webkit-box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.25);
  border: none;
  outline: 2px solid $darkgray;
  border-radius: 10px;
  font-size: 1.2rem;
  &:focus {
    outline: 2px solid $orange;
  }
}

@mixin main-button {
  width: 50%;
  padding: 20px;
  margin: 15px;
  border: none;
  background-color: $darkgray;
  color: $silver;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.25);
  font-size: 1.3rem;
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
  text-align: center;
  font-weight: lighter;
  &:hover {
    transform: scale(1.05);
    background-color: $gray;
  }
  &:active {
    transform: scale(1);
  }
}

@mixin input-field-desktop {
  width: 30%;
  padding: 17px;
  margin: 11px;
  -webkit-box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.25);
  border: none;
  outline: 2px solid $darkgray;
  border-radius: 10px;
  font-size: 1.2rem;
  &:focus {
    outline: 2px solid $orange;
  }
}

@mixin input-field-desktop-admin {
  width: 30%;
  padding: 17px;
  margin: 11px;
  -webkit-box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.25);
  border: none;
  outline: 2px solid $darkgray;
  border-radius: 10px;
  font-size: 1.2rem;
  &:focus {
    outline: 2px solid $orange;
  }
}

@mixin main-button-desktop {
  width: 20%;
  padding: 20px;
  margin: 15px;
  border: none;
  background-color: $darkgray;
  color: $silver;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.25);
  font-size: 1.3rem;
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
  text-align: center;
  font-weight: lighter;
  &:hover {
    transform: scale(1.05);
    background-color: $gray;
  }
  &:active {
    transform: scale(1);
  }
}
