header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
    .logoContainer {
        width: 50%;
    }
    h1 {
        text-align: center;
        font-size: 3rem;
    }
}
