header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 150px;
  .logoContainer {
    width: 50%;
  }
  h1 {
    text-align: center;
    font-size: 3rem;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  h3 {
    margin: 0px 0px 0px 15px;
    font-size: 1.5rem;
    font-weight: 300;
    @media only screen and (min-width: 600px) {
      margin-left: 45px;
    }

    a {
      color: $darkgray;
    }
  }

  a {
    margin: 0px 15px 0px 0px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 5%;

    @media only screen and (min-width: 600px) {
      margin-right: 45px;
    }

    div {
      color: $darkgray;
    }

    .logoutbtn {
      width: 50px;
    }

    .hoppaut {
      width: 50px;
      margin: -8px 0px 0px 0px;
      cursor: pointer;
    }
  }
}

// .bookingHeader {
//     height: 100px;
//     background-color: black;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     .wrapper {
//         display: flex;
//         justify-content: space-between;
//         width: 90%;
//         background-color: aqua;
//         height: 90%;
//         .bookingPageLogo,
//         .logoutContainer {
//             width: 30%;
//             height: 100%;
//             background-color: pink;
//         }
//     }
// }

h2 {
  text-align: center;
  margin-top: 30px;
}

#pContainer {
  // width: 50%;
  font-size: 1.4rem;
}
