header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 150px;
  .logoContainer {
    width: 50%;
  }
  h1 {
    text-align: center;
    font-size: 3rem;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  h3 {
    margin: 0px 0px 0px 15px;
    font-size: 1.5rem;
    font-weight: 300;

    a {
      color: $darkgray;
    }
  }

  a {
    margin: 0px 15px 0px 0px;
    text-decoration: none;
  }
}
