@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Space+Mono&display=swap");

* {
    margin: 0px;
}

@media only screen and (min-width: 600px) {
    .queryWrapper {
        display: flex;
        justify-content: center;
    }
    .allWrapper {
        width: 80%;
        max-width: 700px;
    }
}

body {
    font-family: "Roboto", sans-serif;
    color: $darkgray;
    // font-weight: bold;
}

.textWrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    p {
        width: 90%;
        font-size: 1.4rem;
        font-weight: 300;
    }
}

.loginRegisterWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    p {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
    a {
        @include main-button;
        @media only screen and (min-width: 600px) {
            width: 30%;
        }
    }
}

.orangeBox {
    height: 170px;
    border-top-left-radius: 170px;
    background-color: $orange;
    margin-top: -150px;
    z-index: 0;
}

.lilBox {
    height: 8px;
    background-color: $silver;
    z-index: 1;
}

.grayBox {
    height: 130px;
    border-bottom-right-radius: 200px;
    background-color: $gray;
}
